.tab {
	background: white;
	position: relative;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.16);
	&-list {
		display: flex;
		li{
			font-size: 18px;
			padding: 23px;
			text-align: center;
			width: calc(100% / 4);
			border-bottom: solid 3px #D3D3D3;
			background: #D3D3D3;
			@extend .s3;
			&:not(:first-of-type){
				border-left: solid 1px white;
			}
			&:hover{
				cursor: pointer;
				background: white;
				border-bottom: solid 3px var(--mainSecond);
			}
		}
		.active{
			background: white;
			border-bottom: solid 3px var(--main);
		}
	}
	&-content {
		padding: 50px 92px;
	}

}
