@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.v2-500 {
  font-family: corporate-logo-ver2, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.v2-700 {
  font-family: corporate-logo-ver2, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nscj-400{
  font-family: noto-sans-cjk-jp,sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nscj-500{
  font-family: noto-sans-cjk-jp,sans-serif;
  font-weight: 500;
  font-style: normal;
}
.nscj-700{
  font-family: noto-sans-cjk-jp,sans-serif;
  font-weight: 700;
  font-style: normal;
}
//フォント太さ
@for $i from 1 through 9 {
	.fw#{$i} {
		font-weight: $i * 100;
	}
}