:root {
	--main: #FA5D18;
	--mainSecond: #feb42f;
	--sub: #ffec00;
	--subSecond: #cbc56d;

	--gr1:#ff6753;
	--gr2:#feb42f;

	--borderBE: #BEC4D1;
	--borderD5: #d5d5d5;

	--blueD8: #D8DBE3;

	--placeholder: #BEC4D1;
	--tInput: #101010;

	--CardBorder: #E5E7EB;
	--TabText80: #808080;

	--line: #06c755;
	--facebook: #1f447f;
	--twitter: #0986cc;
	--instagram: #d32b7b;
}

// color
@include color(main);
@include color(sub);
@include color(blueD8);
@include color(TabText80);

// グラデーション
.bgg {
	background: var(--gr1);
	background: linear-gradient(0deg, var(--gr1) 0%, var(--gr2) 100%);
}
